.map {
    max-width: 330px;
    &__title {
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.061px;
    }
    &-card {
        margin: 14px 0 0 0;
        padding: 23px;
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.04);
        background: $dark-grey;
        &__title {
            display: flex;
            align-items: center;
            gap: 15px;
            a {
                color: $yellow;
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 0.2px;
            }
        }
        iframe {
            margin: 20px 0 0 0;
            max-width: 100%;
            height: 275px;
            border-radius: 13px;
        }
    }
}