.filter {
    max-width: 100%;
    margin: 70px 0 0 0;
}

.filter>.container:first-child {
    @media (max-width: 900px) {
        padding: 0;
        margin: 0 0 0 20px;
        max-width: 100%;
    }
}

.buttons__wrapper {
    padding: 44px 0;
    background-color: #1D1C20;

    @media (max-width: 900px) {
        padding: 22px 0;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 6px;

    @media (max-width: 900px) {
        max-width: 100%;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        touch-action: pan-x;
        -ms-touch-action: pan-x;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
        flex-wrap: nowrap;
    }
}

.buttons::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.buttons::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.buttons span {
    display: block;
    padding: 8px 14px;
    white-space: nowrap;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: $light-grey;
    width: max-content;
    cursor: pointer;
}

.buttons span:hover {
    background: #797979;
    transition: all .3s ease;
}

.items {
    max-width: 100%;
    margin: 44px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    gap: 20px 50px;

    // @media (max-width: 368px) {
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    // }

    @media (max-width: 1050px) {
        gap: 20px 25px;
    }

    @media (max-width: 900px) {
        margin: 22px 0 0 0;
        gap: 20px 8px;
    }
}

.item {
    flex-basis: calc(100%/5 - 50px);

    @media (max-width: 1050px) {
        flex-basis: calc(100%/4 - 25px);
    }

    @media (max-width: 767px) {
        flex-basis: calc(100%/3 - 8px);
    }

    @media (max-width: 500px) {
        flex-basis: calc(100%/2 - 8px);
    }

    &__thumbnail {
        //flex-basis: 200px;
        height: 200px;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.08);
        position: relative;

        // @media (max-width: 625px) {
        //     width: 100%;
        // }

        // @media (max-width: 368px) {
        //     width: 50%;
        // }

        img {
            display: block;
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
    }

    &__title {
        margin: 12px 0 0 0;
        //max-width: 160px;
        color: #BBB;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        display: none;
    }
}

.clear,
.clear:before,
.clear:after {
    content: "";
    display: block;
    clear: both;
}

.price-products {
    margin: 64px 0 0 0;

    @media (max-width: 767px) {
        margin: 64px 0;
        padding: 0;
    }
}